absl-py==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
antiorm==1.2.1
anyio==4.12.1
asn1crypto==1.5.1
astunparse==1.6.3
attrs==23.1.0
blinker==1.6.2
boto3==1.40.59
botocore==1.40.59
cached-property==1.5.2
cachetools==5.3.1
certifi==2023.7.22
cffi==2.0.0
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
cryptography==46.0.3
db==0.1.1
db-sqlite3==0.0.1
defusedxml==0.7.1
dnspython==2.4.1
et-xmlfile==1.1.0
exceptiongroup==1.1.2
exchangelib==5.0.3
fastapi==0.128.0
filelock==3.20.0
Flask==2.3.2
flatbuffers==23.5.26
fuzzywuzzy==0.18.0
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.2
h11==0.14.0
h5py==3.9.0
idna==3.4
iniconfig==2.0.0
isodate==0.6.1
itsdangerous==2.1.2
jellyfish==1.0.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.1
keras==2.13.1
libclang==16.0.6
lxml==4.9.3
mangum==0.21.0
Markdown==3.4.4
MarkupSafe==2.1.3
nltk==3.9.1
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.1
pandas==2.0.3
platformdirs==4.5.0
pluggy==1.3.0
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.15.1
pyjarowinkler==1.8
PyJWT==2.10.1
pymongo==4.4.1
pyodbc==4.0.39
pyOpenSSL==25.3.0
PySocks==1.7.1
pyspnego==0.9.1
pytest==7.4.2
python-crfsuite==0.9.11
python-dateutil==2.8.2
python-dotenv==1.2.1
pytz==2023.3
pywin32==306
RapidFuzz==3.14.3
regex==2024.11.6
requests==2.31.0
requests-ntlm==1.2.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.14.0
scikit-learn==1.3.0
scipy==1.11.1
selenium==4.11.2
six==1.16.0
sniffio==1.3.0
snowflake-connector-python==4.0.0
sortedcontainers==2.4.0
starlette==0.50.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
textblob==0.18.0.post0
threadpoolctl==3.2.0
tomlkit==0.13.3
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.10.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
tzlocal==5.0.1
ukaddresskit==0.0.5
urllib3==1.26.16
uvicorn==0.40.0
vaderSentiment==3.3.2
Werkzeug==2.3.6
wrapt==1.15.0
wsproto==1.2.0
xlsxwriter==3.2.5
